<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/output.css">
    <title>Coffee Club | Welcome</title>
</head>
<body class="bg-yellow-800">
    <ul class="w-full flex bg-gray-800 text-white p-5 opacity-80">
        <li class="mr-6">
          <a class="text-3xl" href="/"><img class="inline-block mr-4 border-4 rounded-full p-2" src="https://img.icons8.com/fluent-systems-regular/48/000000/coffee.png"/>Coffee Lovers' Club</a>
        </li>
    </ul>