<%- include('../partials/header.ejs') %>
    <div class="w-full h-full flex flex-col lg:flex-row">
        <div class="md:w-full flex flex-col justify-center items-center text-center h-screen bg-home_hot bg-no-repeat bg-cover opacity-75 border-4">
            <a class="text-5xl text-white hover:scale-150 hover:opacity-100 transition duration-100 bg-gray-800 w-1/2 p-3 opacity-90 border-4 rounded-lg" href="/hot">Hot Coffee</a>
        </div>
        <div class="md:w-full flex flex-col justify-center items-center text-center h-screen bg-home_iced bg-no-repeat bg-cover opacity-75 border-4">
            <a class="text-5xl text-white hover:scale-150 hover:opacity-100 transition duration-100 bg-gray-800 w-1/2 p-3 opacity-90 border-4 rounded-lg" href="/iced">Iced Coffee</a>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>